<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net40" />
  <package id="AutocompleteMenu" version="1.3.5.0" targetFramework="net40" />
  <package id="Autoupdater.NET.Official" version="1.6.4" targetFramework="net40" requireReinstallation="true" />
  <package id="DotNetZip" version="1.15.0" targetFramework="net40" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net40" requireReinstallation="true" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net40" />
  <package id="MailKit" version="2.15.0" targetFramework="net45" />
  <package id="MimeKit" version="2.15.0" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net45" />
  <package id="WinForms.MessageBoxes" version="1.0.1" targetFramework="net40" />
</packages>